@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@300&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0;
    padding:0;
}
.container {
    height: 300px;
    width: 100%;
}

#display {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;    
}
.buttons {
    text-align: center;
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}
.button {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    width: 100px;
    height: 50px;
}